
@media (min-width: 600px) {

}
#title{
color: white;
font-size: 80px;
margin-bottom: 0;
text-align: center !important;
}

.container{
  margin: auto;
  max-width: 800px;
}
.heading{
  padding-top: 100px;
  text-align: center;
  color: white;
  font-family: 'Russo One', sans-serif;
}

.links-container {
    display: flex;
    justify-content: center;
    padding: 20px 5%;

}
.flexlinks{
margin-left: 20px;
margin-right: 20px;
padding: 20px 20px;
}

.nav-bar a:hover{
  background-color: #ddd;
    color: black;
}

.nav-bar a.active{
  background-color: #4CAF50;
  color: white;
}
.body{
background-color:#12160a;
}
.paragraph{

  color: white;
}
.flexcontainer-2{
align-items: center;
display: flex;
margin-bottom: 300px;
padding-top: 300px;
}


 hr {
 background-color: #35493D;
 border: 0;
 border-top: 1px solid #ccc;
 display: block;
 height: 1px;
 margin: 1em 0;
 padding: 0;
}

h3{
  color: white;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

h3 a{
  color: white !important;
  font-family: 'Russo One', sans-serif;
  font-size:  25px;
}
ul {
  list-style-type: none;
  color: white;
}

.side-photos{
  width: 200px;
  height: auto;
  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
}
.brandscontainer{
  display: inline;
  max-width: 100%;
}
.flexbox-brands{
display: flex;


}

/* flex items*/
.interactive-brands1{

  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  height: 80px;
margin-left: 40%;
margin-right: 25%;
  width: 100px;
}
.interactive-brands2{

  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  height: 80px;
margin-left: 35%;
margin-right: 45%;
  width: 100px;
}

.carousel .item {
height: 300px;
}


.flexcontainerbox-3{
  flex-basis:70%;
  font-size: 25px;
  max-width: 10%;


}
.flexcontainerbox-4{
  display: flex;
}
.influence-pics{
  border-color: #35493D;
  border-radius: 50%;
  border-style: solid;
  box-shadow: #35493D 0 0 5px;
  max-width: 50%;
  width: 100px;
  height: auto;

}
.antwon-descr{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 3% 0 3%;
}
.errolson-descr{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 3% 0 3%;
}

.jennifer-descr{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 5% 0 5%;
}
.caption{
  display: block;
  color: white;
}

footer{
background-color: #aaaaaa;
color: white;
text-align: center;
}
.well{
  background-color: #dddd;
  color:black;
}
