
@media (min-width: 600px) {

}
/*Responsive layout adjustments*/
@media screen and (max-width: 600px){
  .topnav a, .topnav input[type=text]{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }
    .topnav input[type=text]{
      border: 1px solid #ccc;
    }
    /*Responsive - Tacks two columns on top of each other instead of next to each other*/
    .column{
      flex: 100%;
      max-width: 100%;
    }
}
/*Responsive layout - makes the two colum-layout instead of four*/
@media screen and (max-width: 800px){
  .column{
    flex:50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }

#nameDisplay{
  color: black;
  text-align: center;
}
.body{
background-color:#12160a;
}
.brandscontainer{
  display: inline;
  max-width: 100%;
}

.caption{
  display: block;
  color: white;
}
.carousel-item{
width: 500px;
height: auto;
}
.carousel .item {
height: 300px;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*Creates 4 equal columns that sit next to each other*/
.column {
  flex: 13%;
  max-width: 25%;
  padding: 0 1px;
}
.column img{
  margin: 0 1px;
  vertical-align: middle;
  padding: 0 0;

}

.container{
  margin: auto;
  max-width: 800px;
  background-color:#12160a;
}
/* flex items*/
.flexbox-brands{
display: flex;
}
.flexcontainer-2{
align-items: center;
display: flex;
margin-bottom: 300px;
padding-top: 300px;
}
.flexcontainerbox-3{
  flex-basis:70%;
  font-size: 25px;
  max-width: 10%;
}
.flexcontainerbox-4{
  display: flex;
}
.flexlinks{
margin-left: 20px;
margin-right: 20px;
padding: 0 20px;
}
footer{
background-color: #aaaaaa;
color: white;
text-align: center;
}
.footer-buttons{
  background-color: #336600;
  font-size: 15px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) 0 6px 20px 0 rgba(0,0,0,0.19);
  padding:7px 5px;
}
.footer-buttons:hover{
  background-color: white;
  color: black;
}
.footer-buttons-container{
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}
.gallery{
  width: 200px;
  height: auto;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  max-width: 100%;
  /*Animation */
  transition: transform .2s;
}

.gallery:hover {
  /*120% zoom*/
  transform: scale(1.2);
  box-shadow: 0 0 7px rgba(0, 0 ,0 , 0.5);
}
/*h3{
  color: white;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

/h3 a{
  color: white !important;
  font-family: 'Russo One', sans-serif;
  font-size:  25px;
}*/
h2{
  color: white;
  text-align: center;
}

.heading{
  padding-top: 100px;
  text-align: center;
  color: white;
  font-family: 'Russo One', sans-serif;
}
hr {
background-color: #35493D;
border: 0;
border-top: 1px solid #ccc;
display: block;
height: 1px;
margin: 1em 0;
padding: 0;
}

.influence-pics{
  border-color: #35493D;
  border-radius: 50%;
  border-style: solid;
  box-shadow: #35493D 0 0 5px;
  max-width: 50%;
  width: 100px;
  height: auto;

}
.interactive-brands1{

  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  height: 80px;
  margin-left: 40%;
  margin-right: 25%;
  width: 100px;
  align-content: center;
}
.interactive-brands2{

  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  height: 80px;
  margin-left: 35%;
  margin-right: 45%;
  width: 100px;
  align-content: center;
}

#list-builder{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  #ccffcc;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  opacity: 0.8;
  display: none;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}



.nav-bar a:hover{
  background-color: #ddd;
    color: black;
}

.nav-bar a.active{
  background-color: #4CAF50;
  color: white;
}
.notification{

}

.paragraph{

  color: white;
}

#popup-box{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  width: 90%;
  max-width: 600px;
  padding: 30px;
  border: 10px solid  #f2ffe6;
  display: none;
}

#popup-close{
position: absolute;
top: -25px;
right: -25px;
cursor: pointer;
width: 40px;
}

#popup-box h1 {
    margin: 0;
}

#popup-box form {
    margin-bottom: 0px;
}

#popup-box input {
    padding: 10px;
    border: 1px solid #333;
    width: 40%;
}

#popup-box button {
    padding: 10px;
    border: 1px solid #333;
    background-color:  #f2ffe6;
    text-align: center;
    margin-left: 45%;
    margin-top: 20px;
    border-radius: 12px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-center;
  padding: 1px;
}

.side-photos{
  width: 200px;
  height: auto;
  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  max-width: 100%;
  /*Animation */
  transition: transform .2s;
}

.side-photos.visible{
  opacity: 1;
}
.side-photos:hover {
  /*120% zoom*/
  transform: scale(1.2);
}
.subscribe-input{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  color: white;
}
.antwon-descr{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 3% 0 3%;
}
.errolson-descr{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 3% 0 3%;
}

.jennifer-descr{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 5% 0 5%;
}
.title{
color: white;
font-size: 80px;
margin-bottom: 0;
text-align: center !important;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;

}
.topnav a{

  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 17px;
  align-content: center;
  justify-content: space-evenly;
  padding: 14px 16px;
  display: block;
  border-radius: 10%;


}

.topnav input[type=text]{
  float: right;
  padding: 5px 30px 5px 30px;
  border: none;
  font-size: 10px;
  margin-top: 8px;
  margin-right: 5px;
  margin-bottom: 2px;
  font-size: 10px;

}
.well{
  background-color: #dddd;
  color:black;
  display: flex;
  justify-content: flex-start;
  padding-right: 5px;
}
