
@media (min-width: 600px) {

}
/*Responsive layout adjustments*/
@media screen and (max-width: 600px){
  .topnav a, .topnav input[type=text]{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }
    .topnav input[type=text]{
      border: 1px solid #ccc;
    }
    /*Responsive - Tacks two columns on top of each other instead of next to each other*/
    .column{
      flex: 100%;
      max-width: 100%;
    }
}
/*Responsive layout - makes the two colum-layout instead of four*/
@media screen and (max-width: 800px){
  .column{
    flex:50%;
    max-width: 50%;
  }
}

-webkit-@keyframes rotation {
  0%{
    transform: rotate(0deg)
  }
  50% {
    transform : rotate(30deg)
  }
  100%{
    transform : rotate(0deg)
  }
}

-moz-@keyframes rotation {
  0%{
    transform: rotate(0deg)
  }
  50% {
    transform : rotate(30deg)
  }
  100%{
    transform : rotate(0deg)
  }
}

-o-@keyframes rotation {
  0%{
    transform: rotate(0deg)
  }
  50% {
    transform : rotate(30deg)
  }
  100%{
    transform : rotate(0deg)
  }
}



@keyframes rotation{
  0%{
    transform: rotate(0deg)
  }

70%{
  transform: rotate(0deg)
}
  80% {
    transform : rotate(30deg)
  }

  100%{
    transform : rotate(0deg)
  }
}

@keyframes negrotation{
  0%{
    transform: rotate(0deg)
  }

70%{
  transform: rotate(0deg)
}
  80% {
    transform : rotate(-30deg)
  }

  100%{
    transform : rotate(0deg)
  }
}

@keyframes buckle{
  0%{
    transform: translateX(0px);
  }
  60%{
    transform: translateX(-10px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);

  }
}
@keyframes growtate{
  0%{
    left: 5px;
    right:5px;

  }

  25%{
    left:100px;
    right:100px;
  

  }
  50%{
    left:200px;
    right:200px;
  }
  70%{
    left:400px;
    right:400px;
    transform:
    rotateX(60deg);
  }
  75%{
    left:400px;
    right:400px;
    transform: rotateX(120deg);
  }
  80%{
  transform:
    rotateX(180deg);
  }
  100%{
    left: 5px;
    right:5px;
  }
}

@keyframes negbuckle{
  0%{
    transform: translateX(0);
  }
  60%{
    transform: translateX(10px);
  }
  80%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0px);
  }
}


#nameDisplay{
  color: black;
  text-align: center;
}
.body{
background-color:#12160a;


}
.box{
  position: relative;
   margin: auto;
   display: block;
   margin-top: 8%;
   width: 600px;
   height: 420px;
   background: none;

}
.belt-left{
  position: absolute;
  top: 50%;
  left: 12.5%;
  width:32%;
  height:10%;
  background: #8C8C8C;
  border-radius: 5%;
  z-index:10;
  animation: buckle 3s ease-in-out infinite;
}

.belt-left-buckle{
  position: absolute;
  top:-35%;
  right:-10%;
  width:20%;
  height:170%;
  background:black;
  border-radius:50%;
  z-index:9;
  -webkit-clip-path: polygon(24% 0, 99% 25%, 100% 75%, 24% 100%);
clip-path: polygon(24% 0, 99% 25%, 100% 75%, 24% 100%);

}

.belt-lock-circle{
  position: absolute;
  width: 20%;
  height:50%;
  left: -15%;
  top: 25%;
  background: #cdad00;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
z-index:1;
animation: negbuckle 3s ease-in-out infinite;
}

.belt-lock-main{
  position: absolute;
  top:-35%;
  left:-10%;
  width:20%;
  height:170%;
  background:black;
  border-radius:30%;
  z-index:2;
  -webkit-clip-path: inset(5% 20% 0 10%);
clip-path: inset(5% 20% 0 10%);
animation: negbuckle 3s ease-in-out infinite;

}

.belt-lock-trapezoid{
  position: absolute;
  width: 17%;
  height:48%;
  left: -16%;
  top: 25%;
  background: #cdad00;
  z-index: 1;
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 70%);
clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 70%);
animation: negbuckle 3s ease-in-out infinite;
}

.belt-right{
  position: absolute;
  top: 50%;
  right:12.5%;
  width:32%;
  height:10%;
  background: #8C8C8C;
  border-radius: 5%;
  z-index:3;
  animation: negbuckle 3s ease-in-out infinite;
}

.belt-bottom-lock{
  position: absolute;
  z-index:8;
  background: #cdad00;
  bottom: -15%;
  right:-13%;
  width: 10%;
  height: 20%;
  border-radius: 30%;
  -webkit-clip-path: polygon(100% 50%, 0 1%, 0 100%);
clip-path: polygon(100% 50%, 0 1%, 0 100%);
/*-webkit-animation: rotation 2s ease-in-out infinite;
-moz-animation:  rotation 2s ease-in-out infinite;
-o-animation:  rotation 2s ease-in-out infinite;
animation: rotation 2s ease-in-out infinite;*/
animation: rotation 3s ease-in-out infinite;

}

.belt-top-lock{
  position: absolute;
  z-index: 8;
  top: -15%;
  right:-13%;
  width: 10%;
  height: 20%;
  border-radius: 30%;
  background: #cdad00;
  -webkit-clip-path: polygon(100% 50%, 0 1%, 0 100%);
  clip-path: polygon(100% 50%, 0 1%, 0 100%);
  animation: negrotation 3s ease-in-out infinite;



}
.brandscontainer{
  display: inline;
  max-width: 100%;
}

.caption{
  display: block;
  color: white;
}
.carousel-item{
width: 500px;
height: auto;
}
.carousel .item {
height: 300px;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*Creates 4 equal columns that sit next to each other*/
.column {
  flex: 13%;
  max-width: 25%;
  padding: 0 1px;
}
.column img{
  margin: 0 1px;
  vertical-align: middle;
  padding: 0 0;

}

.container{
  margin: auto;

  max-width: 800px;
  background-color:#12160a;
}
/* flex items*/
.flexbox-brands{
display: flex;
}
.flexcontainer-2{
align-items: center;
display: flex;
margin-bottom: 300px;
padding-top: 300px;
}
.flexcontainerbox-3{
  flex-basis:70%;
  font-size: 25px;
  max-width: 10%;
}
.flexcontainerbox-4{
  display: flex;
}
.flexlinks{
margin-left: 20px;
margin-right: 20px;
padding: 0 20px;
}
footer{
background-color: #aaaaaa;
color: white;
text-align: center;
}
.footer-buttons{
  background-color: #336600;
  font-size: 15px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) 0 6px 20px 0 rgba(0,0,0,0.19);
  padding:7px 5px;
}
.footer-buttons:hover{
  background-color: white;
  color: black;
}
.footer-buttons-container{
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}
.gallery{
  width: 200px;
  height: auto;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  max-width: 100%;
  /*Animation */
  transition: transform .2s;
}

.gallery:hover {
  /*120% zoom*/
  transform: scale(1.2);
  box-shadow: 0 0 7px rgba(0, 0 ,0 , 0.5);
}
/*h3{
  color: white;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

/h3 a{
  color: white !important;
  font-family: 'Russo One', sans-serif;
  font-size:  25px;
}*/
h2{
  color: white;
  text-align: center;
}


.heading{
  padding-top: 100px;
  text-align: center;
  color: white;
  font-family: 'Russo One', sans-serif;
}

.influence-pics{
  border-color: #35493D;
  border-radius: 50%;
  border-style: solid;
  box-shadow: #35493D 0 0 5px;
  max-width: 50%;
  width: 100px;
  height: auto;

}
.interactive-brands1{

  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  height: 80px;
  margin-left: 40%;
  margin-right: 25%;
  width: 100px;
  align-content: center;
}
.interactive-brands2{

  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  height: 80px;
  margin-left: 35%;
  margin-right: 45%;
  width: 100px;
  align-content: center;
}

#list-builder{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  #ccffcc;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  opacity: 0.8;
  display: none;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}



.nav-bar a:hover{
  background-color: #ddd;
    color: black;
}

.nav-bar a.active{
  background-color: #4CAF50;
  color: white;
}
.notification{

}

.paragraph{

  color: white;
}

#popup-box{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  width: 90%;
  max-width: 600px;
  padding: 30px;
  border: 10px solid  #f2ffe6;
  display: none;
}

#popup-close{
position: absolute;
top: -25px;
right: -25px;
cursor: pointer;
width: 40px;
}

#popup-box h1 {
    margin: 0;
}

#popup-box form {
    margin-bottom: 0px;
}

#popup-box input {
    padding: 10px;
    border: 1px solid #333;
    width: 40%;
}

#popup-box button {
    padding: 10px;
    border: 1px solid #333;
    background-color:  #f2ffe6;
    text-align: center;
    margin-left: 45%;
    margin-top: 20px;
    border-radius: 12px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-center;
  padding: 1px;
}

.side-photos{
  width: 200px;
  height: auto;
  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #bbbbbb;
  max-width: 100%;
  /*Animation */
  transition: transform .2s;
}

.side-photos.visible{
  opacity: 1;
}
.side-photos:hover {
  /*120% zoom*/
  transform: scale(1.2);
}
.subscribe-input{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  color: white;
}
.antwon-descr{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 3% 0 3%;
}
.errolson-descr{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 3% 0 3%;
}

.jennifer-descr{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 5% 0 5%;
}
.title{
color: white;
font-size: 80px;
margin-bottom: 0;
text-align: center !important;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;

}
.topnav a{

  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 17px;
  align-content: center;
  justify-content: space-evenly;
  padding: 14px 16px;
  display: block;
  border-radius: 10%;


}

.topnav input[type=text]{
  float: right;
  padding: 5px 30px 5px 30px;
  border: none;
  font-size: 10px;
  margin-top: 8px;
  margin-right: 5px;
  margin-bottom: 2px;
  font-size: 10px;

}
.underline {
background-color: #35493D;
border: 0;
border-top: 1px solid #ccc;
height: 2px;
width: 100%;
margin: 1em 0;
padding: 0;
animation: growtate 4s ease-in-out infinite alternate;
}

.well{
  background-color: #dddd;
  color:black;
  display: flex;
  justify-content: flex-start;
  padding-right: 5px;
}
